.dashboardLayout{
    display: flex;
    gap: 3.125rem;
    padding-top: 1.25rem;
    height: 100%;
     
    .menu{
        flex: 1;
    }
    
    .content{
        flex: 4;
        background-color: #12101b;
    }
}