.chatList{
    display: flex;
    flex-direction: column;
    height: 100%;

hr{
    border:none;
    height: 2px;
    background-color: #ddd;
    opacity: 0.1;
    border-radius: 5px;
    margin: 20px 0px;
}

.title{
    font-weight: 600;
    font-style: 10px;
    margin-bottom: 10px;
}

.list {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    
    /* For Firefox */
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

/* For Webkit browsers (Chrome, Safari, Edge) */
.list::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

.list::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.list::-webkit-scrollbar-track {
    background: transparent;
}

/* Make scrollbar visible only on hover */
.list:not(:hover)::-webkit-scrollbar-thumb {
    background: transparent;
}

a{
    padding: 10px;
    border-radius: 10px;

    &:hover{
        background-color: #2c2937;
    }
}

.upgrade{
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;

    img{
        width: 24px;
        height: 24px;
    }

    .texts{
        display: flex;
        flex-direction: column;

        span{
            &:first-child{
                font-weight: 600;
            }

            &:last-child{
                font-size: 10px;
                color: #888;
            }
        }
    }
}
}
