.dashboardLayout{
    display: flex;
    gap: 1rem;
    padding-top: 1.25rem;
    height: 100%;
     
    .menu{
        flex: 1;
    }
    
    .content{
        flex: 4;
        background-color: #12101b;
        
        /* Added Flexbox properties to center content */
        display: flex;
        justify-content: center; /* Centers horizontally */
        align-items: center;     /* Centers vertically */
        padding: 15px;           /* Optional: Adds padding around the content */
        max-width: calc(100% - 300px); /* Add maximum width */
        margin: 0 auto; /* Center the content */
        overflow-x: hidden; /* Prevent horizontal scrolling */
    }
}