.rootLayout {
    padding: 10px 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 10px;
}

header .logo img {
    width: 32px;
    height: 32px;
}

main {
    flex: 1;
    overflow: hidden;
}

header .user {
    margin-left: -1rem;
}
