.NewPrompt{

    .newForm{
        width: 3.125rem;
        position: absolute;
        bottom: 0;
        background-color: #2c2937;
        border-radius: 1.25rem;
        display: flex;
        align-items: center;
        gap: 1.25rem;
        padding: 0px 1.25rem;

        input{
            flex: 1;
            padding: 1.25rem;
            border: none;
            outline: none;
            background-color: transparent;
            color: #ececec;
        }
        button, label{
            border-radius: 50%;
            background-color: #605e68;
            border: none;
            padding: 0.625rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            img{
                width: 1rem;
                height: 1rem;
            }
        }
    }
}