*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 1rem;
    background-color: #0e0c16;
    color : white;
    font-family: 'Roboto', sans-serif;   
}

a{
    text-decoration: none;
    color: inherit;
}